/**********************
 * CHANGE COLOR
 **********************/
#bg-color {
	-webkit-animation:color_change 3s infinite alternate;
	   -moz-animation:color_change 3s infinite alternate;
		-ms-animation:color_change 3s infinite alternate;
		 -o-animation:color_change 3s infinite alternate;
			animation:color_change 3s infinite alternate;
}
@-webkit-keyframes color_change {from{background:#2196F3}to{background:#E91E63}}
   @-moz-keyframes color_change {from{background:#2196F3}to{background:#E91E63}}
	@-ms-keyframes color_change {from{background:#2196F3}to{background:#E91E63}}
	 @-o-keyframes color_change {from{background:#2196F3}to{background:#E91E63}}
		@keyframes color_change {from{background:#2196F3}to{background:#E91E63}}