/*

THEME : Orange

#FFE0B2  100  orange
#FF9800  500  orange
#EF6C00  800  orange
#F5F5F5  100  grey
#9E9E9E  500  grey
#FFFFFF       white

*/

/**********************
 * GRID
 **********************/
.row-left {
	background:#FF9800
}
.row-right {
	background:#F5F5F5
}

/**********************
 * TEXT
 **********************/
h1 {
	color:#FFFFFF
}

/**********************
 * FORM
 **********************/
input[type=text], input[type=password] {
	border:3px solid #FF9800
}
input[type=text]:focus, input[type=password]:focus {
	background:#FFE0B2;
	border:3px solid #FFE0B2
}
input::-webkit-input-placeholder {
	color:#9E9E9E
}
input::-moz-placeholder {
	color:#9E9E9E
}
input:-moz-placeholder {
	color:#9E9E9E
}
input:-ms-input-placeholder {
	color:#9E9E9E
}
input:focus::-webkit-input-placeholder {
	color:#FFFFFF
}
input:focus::-moz-placeholder {
	color:#FFFFFF
}
input:focus:-moz-placeholder  {
	color:#FFFFFF
}
input:focus:-ms-input-placeholder {
	color:#FFFFFF
}
button[type=submit] {
	border:3px solid #FF9800;
	color:#FFFFFF;
	background:#FF9800
}
button[type=submit]:hover {
	background:#EF6C00;
	border:3px solid #EF6C00
}
label::before {
	border:3px solid #FF9800
}
/* Checkbox */
input[type=checkbox] + label::after {
	background:#FFFFFF;
	border:3px solid #FF9800
}
input[type=radio] + label::after {
	background:#FFFFFF;
	border:3px solid #FF9800
}
/* :checked */
input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
	background:#FF9800;
	border:3px solid #FF9800
}
.form-forgot  {
	color:inherit
}