/*

THEME : Pink

#F8BBD0  100  pink
#E91E63  500  pink
#AD1457  800  pink
#F5F5F5  100  grey
#9E9E9E  500  grey
#FFFFFF       white

*/

/**********************
 * GRID
 **********************/
.row-left {
	background:#E91E63
}
.row-right {
	background:#F5F5F5
}

/**********************
 * TEXT
 **********************/
h1 {
	color:#FFFFFF
}

/**********************
 * FORM
 **********************/
input[type=text], input[type=password] {
	border:3px solid #E91E63
}
input[type=text]:focus, input[type=password]:focus {
	background:#F8BBD0;
	border:3px solid #F8BBD0
}
input::-webkit-input-placeholder {
	color:#9E9E9E
}
input::-moz-placeholder {
	color:#9E9E9E
}
input:-moz-placeholder {
	color:#9E9E9E
}
input:-ms-input-placeholder {
	color:#9E9E9E
}
input:focus::-webkit-input-placeholder {
	color:#FFFFFF
}
input:focus::-moz-placeholder {
	color:#FFFFFF
}
input:focus:-moz-placeholder  {
	color:#FFFFFF
}
input:focus:-ms-input-placeholder {
	color:#FFFFFF
}
button[type=submit] {
	border:3px solid #E91E63;
	color:#FFFFFF;
	background:#E91E63
}
button[type=submit]:hover {
	background:#AD1457;
	border:3px solid #AD1457
}
label::before {
	border:3px solid #E91E63
}
/* Checkbox */
input[type=checkbox] + label::after {
	background:#FFFFFF;
	border:3px solid #E91E63
}
input[type=radio] + label::after {
	background:#FFFFFF;
	border:3px solid #E91E63
}
/* :checked */
input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
	background:#E91E63;
	border:3px solid #E91E63
}
.form-forgot  {
	color:inherit
}