/*

THEME : White

#F5F5F5  100  grey
#9E9E9E  500  grey
#000000       black
#FFFFFF       white

*/

/**********************
 * GRID
 **********************/
.row-left {
	background:#FFFFFF
}
.row-right {
	background:#FFFFFF
}

/**********************
 * TEXT
 **********************/
h1 {
	color:#000000
}

/**********************
 * FORM
 **********************/
input[type=text], input[type=password] {
	border:3px solid #000000
}
input[type=text]:focus, input[type=password]:focus {
	background:#F5F5F5;
	border:3px solid #F5F5F5
}
input::-webkit-input-placeholder {
	color:#9E9E9E
}
input::-moz-placeholder {
	color:#9E9E9E
}
input:-moz-placeholder {
	color:#9E9E9E
}
input:-ms-input-placeholder {
	color:#9E9E9E
}
input:focus::-webkit-input-placeholder {
	color:#FFFFFF
}
input:focus::-moz-placeholder {
	color:#FFFFFF
}
input:focus:-moz-placeholder  {
	color:#FFFFFF
}
input:focus:-ms-input-placeholder {
	color:#FFFFFF
}
button[type=submit] {
	border:3px solid #000000;
	color:#FFFFFF;
	background:#000000
}
button[type=submit]:hover {
	background:#000000;
	border:3px solid #000000
}
label::before {
	border:3px solid #000000
}
/* Checkbox */
input[type=checkbox] + label::after {
	background:#FFFFFF;
	border:3px solid #000000
}
input[type=radio] + label::after {
	background:#FFFFFF;
	border:3px solid #000000
}
/* :checked */
input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
	background:#000000;
	border:3px solid #000000
}
.form-forgot  {
	color:inherit
}